@font-face {
  font-family: "Poppins";
  src: url(/fonts1/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(/fonts1/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins semibold";
  src: url(/fonts1/Poppins/Poppins-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* font-family: "Lato", sans-serif; */
  height: 100%;
  width: 100%;
  /* line-height: 30px;
  font-size: 20px; */
  /* color: #1e1744; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  /* color: #292929; */
}


a:hover {
  text-decoration: none;
  color: #808080;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}


.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 106px;
}
.burger{
  display: none;
}
.header {
  padding: 26px;
}



nav a {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
color: #263238;
letter-spacing: 0.4px;
margin-right: 40px;
font-size: 16px;
line-height: 24px;
}

nav a:last-child {
  margin-right: 0;
}

.logo{
width: 10%;
}

.button0 {
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 17px 55px;
  font-family: 'Poppins regular';
  font-style: normal;
  letter-spacing: 0.72px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.item {
  width: 50%;
  margin: 0 auto;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  }

.lamp {
display: flex;
margin-bottom: 40px;
}

.lampochka {
margin-top: 80px;
margin-left: 15px;
width: 20%;
animation: lampochka 3s 1;
}

p {
font-family: 'Poppins regular';
font-style: normal;
color: #8F95A5; 
padding-bottom: 61px;
font-weight: 400;
font-size: 20px;
line-height: 30px; 
}

.LL{
width: 105%;
}

.button1{
background: #263238;
border-radius: 15px;
padding: 22px 78px;
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
cursor: pointer;  
}

.bro {
padding-bottom: 50px;
max-width: 315px;
width: 100%;
}

.sec-2 {
text-align: center;
margin-top: 103px;
}

.skills {
margin-bottom: 119px;
}

.flex-card1 {
display: flex;
justify-content: space-between;
align-items: center;
text-align: left;
}

h2 {
font-family: 'Poppins semibold';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 80px;
color: #000000;
}

.item1 {
width: 30%;
justify-content: space-between;
text-align: left;
background: #F5F5F5;
padding: 35px 23px 92px 50px;
border-radius: 10px;
margin-right: 18px;
}

p1 {
font-family: 'Poppins semibold';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 80px;
color: #263238;
text-align: left;
}

p2 {
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: #8F95A5;
}

.button2 {
background: #263238;
border-radius: 5px;
padding: 16px 41px;
display: flex;
font-family: 'Poppins';
font-style: normal;
font-size: 17px;
line-height: 27px;
color: #FFFFFF;
cursor: pointer;
justify-content: center;
align-items: center;
margin-top: 36px;

}

.item2 {
width: 60%;
background: #F5F5F5;
padding: 4px 0px 44px 41px;
border-radius: 10px;
margin-right: 18px;
margin-bottom: 18px;
}

.item2_1 {
width: 60%;
padding: 44px 40px;
background: #F5F5F5;
padding: 4px 0px 44px 41px;
border-radius: 10px;
margin-bottom: 18px;
}

.bigcont {
display: flex;
}

.bigcont_cont2 {
display: flex;
flex-direction: column;
}
.bigcont_cont2_1{
display: flex;
flex-direction: row;
}

.bigcont_cont2_2 {
display: flex;
flex-direction: column;
}
.item3{
justify-content: space-between;
background-color: #F5F5F5;
display: flex;
flex-direction: row;
border-radius: 10px;
padding: 43px 0px 44px 48px;
}

.button3 {
top: 46%;
left: 4%;
background: #263238;
border-radius: 5px;
width: 196px;
height: 57px;
display: flex;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
cursor: pointer;
justify-content: center;
align-items: center;
margin-top: 25px;
}

.kartinka {
width: 90%;
}

.writer {
padding-left: 80px;
padding-bottom: 4px; 
width: 90%;
}

.book {
padding-bottom: 30px;
width: 70%;
}

.about {
margin-bottom: 30px;
}

.item4 {
width: 60%;
margin-top: 258px;
}

.res{
width: 105%;
}

.dan{
display: flex;
align-items: left;
}

.item4_21 {
margin-top: 30px;
padding-right: 144px;
text-align: center;
}

.item4_22 {
margin-top: 30px;
padding-right: 89px;
text-align: center;
}

.item4_23 {
margin-top: 30px;
text-align: center;
}

.mount{
width: 145%;
}

.item4_3 {
width: 30%;
margin-top: 258px;
margin-right: 150px;
}

.flex-card3 {
display: flex;
justify-content: space-between;
}

p3 {
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #8F95A5;
}


p4 {
font-family: 'Poppins semibold';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 80px;
color: #2A3246;
}

.sec-4 {
text-align: center;
margin-top: 221px;
}

.cards {
display: flex;
width: 30%;
margin-top: 70px;
}

.price {
text-align: left;
margin-right: 45px;
min-width: 350px;
}

p5 {
font-family: 'Poppins semibold';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 100px;
color: #263238;
text-align: left;
}

.button4 {
background: #EEEEEE;
border-radius: 5px;
width: 250px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 34px;
}

.button4_1 {
background: #EEEEEE;
border-radius: 5px;
width: 250px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 34px;
}

.button4_2 {
background: #EEEEEE;
border-radius: 5px;
width: 250px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}

p6{
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #263238;
}

p7{
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #546269;
padding-left: 10px;
}

.test{
width: 55%;
}
.les{
width: 75%;
}

.web {
width: 66%;
}

input[type=text]{
margin-top: 52px;
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #8F95A5;
border-radius: 10px;
padding: 26px 26px 30px 33px;
margin-bottom: 20px;
min-width: 370px;
display: inline-block;
border: 2px solid #8F95A5;
}

.button5{
background: #263238;
border-radius: 10px;
padding: 25px 80px;
font-family: 'Poppins regular';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
cursor: pointer;
animation: button5 2s infinite;
}

.item4_24 {
margin-top: 53px;
margin-left: 10px;
text-align: center;
}

.niz{
width: 86%;
margin-top: 133px;
align-items: center;
padding-left: 15%;
}

.niztext{
margin-top: 55px;
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 100px;
}

p8{
margin-top: 55px;
font-family: 'Poppins regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #8F95A5; 
}


.info:hover, .info:focus, .info:active{
border-radius: 4px;
background: #FFFFFF;
}

.info {
filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
position: relative;
background: #FFFFFF;
box-sizing: border-box;
border-radius: 4px;
margin-bottom: 24px;
padding: 32px 32px 32px 32px;
}

.info__switch {
display: none;
}

.finlog {
width: 85%;
}

.info__body {
max-height: 0;
overflow: hidden;
position: relative;
transition: 0.4s;
}

.info__switch:checked~.info__body {
max-height: 100px;
}

.info__switch:checked~.knopkado {
transform: rotate(180deg);
}

.info__switch:checked~.info__headline::before {
transform: rotate(180deg) translateY(6px);
}

.info__headline {
position: relative;

font-family: 'Poppins semibold';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 90px;
color: #263238;
text-align: left;
}

.info__headline:hover {
text-decoration: underline;
}

.info__switch:hover .knopkado{
transform: rotate(180deg) 
}

.button5:hover {
animation: none;
}

@keyframes button5 {
0% {
  transform: scale3d(1, 1, 1);
}
50% {
  transform: scale3d(1.05, 1.05, 1.05);
}
100% {
  transform: scale3d(1, 1, 1);
}
}

@keyframes lampochka{
  from {
    width: 5%;
  }
}




@media (max-width: 1024px) {
.container {
  max-width: 930px;
}
nav a {
  font-size: 16px;
}

.button0 {
  font-size: 18px;
  padding: 11px 36px;
}
.finlog {
  width: 75%;
}

.finlog1 {
  width: 95%;
}

h1{
  font-size: 36px;
  line-height: 45px;
}
.lampochka {
  width: 18%;
  margin-top: 70px;
}
p {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 41px;
}
.button1{
  padding: 19px 67px;
  font-size: 18px;
  line-height: 27px;  
}
.lamp {
  margin-bottom: 25px;
}
h2 {
  font-size: 30px;
  line-height: 80px;
}
.sec-2 {
  margin-top: 56px;
}
.skills {
  margin-bottom: 58px;
}
p1{
  font-size: 22px;
  line-height: 80px;
}
p2{
  font-size: 12px;
  line-height: 20px;
}

.bro {
  width: 110%;
}
.button2 {
  min-width: 178px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 36px;
  padding: 14px 43px;
}
.button3 {
  min-width: 178px;
  height: 50px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 36px;
  padding: 14px 43px;
}
.writer {
  width: 95%;
}
.book {
  padding-bottom: 35px;
  width: 69%;
}

.item3{
  padding: 48px
}

.kartinka {
  width: 100%;
}

.item1 {
  padding: 35px 35px 92px 30px;
}

.item2 {
  padding: 4px 5px 60px 18px;
}

.item2_1 {
  padding: 4px 0px 0px 14px;
}

.item4 {
  margin-top: 158px;
}

.about {
  margin-bottom: 23px;
}

p3 {
  font-size: 16px;
  line-height: 21px;
}

p4 {
  font-size: 22px;
}

.item4_21 {
  margin-top: 10px;
  padding-right: 72px;
  margin-left: 12px;
}

.item4_22 {
  margin-top: 10px;
  padding-right: 59px;
}

.item4_23 {
  margin-top: 10px;
}

.item4_3 {
  width: 25%;
  margin-top: 198px;
}

.sec-4 {
  margin-top: 121px;
}

.cards {
  margin-top: 35px;
}
.price {
  padding-left: 15px;
  margin-right: 82px;
  min-width: 250px;
}

.test{
  width: 75%;
}
.les{
  width: 105%;
}

.web {
  width: 93%;
}

.info__headline {
  padding-top: 140px;
  font-size: 18px;
  line-height: 34px;
}
.button4 {
  width: 205px;
}

.button4_1 {
  width: 205px;
}

.button4_2 {
  width: 205px;
}

p6{
  font-size: 24px;
  line-height: 36px;
}
  
p7{
  font-size: 16px;
  line-height: 24px;
}


input[type=text]{
  margin-top: 34px;
  font-size: 14px;
  line-height: 21px;
  padding: 16px 2px 16px 33px;
  min-width: 260px;
}

.button5{
  padding: 15px 45px;
}

.item4_24 {
  margin-top: 35px;
  margin-left: 10px;
}

.res{
  width: 145%;
}

.niz{
  width: 94%;
  padding-left: 1%;
}

.niztext{
  margin-top: 35px;
  padding-bottom: 40px;
  
  justify-content: space-around;
}

p8{
  margin-top: 35px;
}
}









@media (max-width: 768px) {
.container {
  max-width: 425px;
}
nav a {
  font-size: 10px;
  margin-right: 10px;
}

.button0 {
  font-size: 10px;
  padding: 3px 6px;
}

.logo{
  width: 13%;
}

.finlog {
  width: 55%;
}

.finlog1 {
  width: 100%;
}

h1{
  font-size: 26px;
  line-height: 30px;
}
.lampochka {
  width: 20%;
  margin-top: 30px;
}
p {
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 15px;
}
.LL{
  width: 105%;
}
.button1{
  padding: 19px 37px;
  font-size: 16px;
  line-height: 27px;  
}
.lamp {
  margin-bottom: 25px;
}
h2 {
  font-size: 30px;
  line-height: 80px;
}
.sec-2 {
  margin-top: 56px;
}
.skills {
  margin-bottom: 58px;
}
p1{
  font-size: 20px;
  line-height: 60px;
}
p2{
  font-size: 13px;
  line-height: 20px;
}

.bro {
  width: 110%;
}
.button2 {
  min-width: 170px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 36px;
  padding: 14px 0px;
}
.button3 {
  min-width: 178px;
  height: 50px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 36px;
  padding: 14px 43px;
}
.writer {
  width: 101%;
  padding-bottom: 20px;
}
.book {
  padding-bottom: 44px;
  width: 83%;
  padding-left: 11%;
}
.nad{
  display: table-footer-group;
}
.pod{
  display: table-header-group;
  }
  .item3{
    min-height: 520px;
    display: block;
    padding: 14px 20px 17px 18px;
  }

.kartinka {
  width: 100%;
}

.flex-card1{
  display: block;
} 
.bigcont {
  display: block;
}

.bigcont_cont2 {
  display: block;
  flex-direction: column;
}
.bigcont_cont2_1{
  display: block;
  flex-direction: column;
}

.bigcont_cont2_2 {
  display: block;
  flex-direction: column;
}
.item1 {
  width: 100%;
  padding: 35px 35px 32px 20px;
  margin-bottom: 18px;
}

.item2 {
  width: 100%;
  padding: 20px 5px 30px 18px;
}

.item2_1 {
  min-height: 520px;
  width: 100%;
  padding: 4px 0px 0px 14px;
}

.flex-card3 {
  display: block;
}
.item4 {
  width: 100%;
  margin-top: 28px;
}

.about {
  margin-bottom: 23px;
}

p3 {
  font-size: 18px;
  line-height: 21px;
}

p4 {
  font-size: 22px;
  line-height: 40px;
}

.item4_21 {
  margin-top: 15px;
  padding-right: 68px;
  margin-left: 12px;
}

.item4_22 {
  margin-top: 15px;
  padding-right: 35px;
}

.item4_23 {
  margin-top: 15px;
}

.item4_3 {
  width: 90%;
  margin-top: 120px;
}

.mount{
  width: 100%;
}

.sec-4 {
  margin-top: 121px;
}

.cards {
  display: block;
  margin-top: 35px;
}
.price {
  justify-content: center;
  padding-left: 15px;
  margin-right: 0px;
  min-width: 200px;
}

.test{
  width: 135%;
}
.les{
  width: 135%;
}

.web {
  width: 135%;
  padding-top: 40px;
}

.button4 {
  width: 190px;
  margin-top: 14px;
}

.button4_1 {
  width: 190px;
}

.button4_2 {
  width: 190px;
  margin-top: 34px;
}

p6{
  font-size: 22px;
  line-height: 32px;
}
  
p7{
  font-size: 16px;
  line-height: 24px;
}


input[type=text]{
  margin-top: 34px;
  font-size: 14px;
  line-height: 21px;
  padding: 16px 2px 16px 33px;
  min-width: 230px;
}

.button5{
  padding: 15px 25px;
}

.item4_24 {
  margin-top: 35px;
  margin-left: 10px;
}

.res{
  width: 100%;
}

.niz{
  display: none;
}

.niztext{
  margin-top: 65px;
  padding-bottom: 40px;
  justify-content: space-around;
}

p8{
  font-size: 12px;
  margin-top: 35px;
}
}












@media (max-width: 426px) and (min-width: 320px) {

.container {
  max-width: 305px;
}

nav a {
  display: none;
}
nav{
  display: none;
}
.burger{
  display: flex;
}
.burger img {
  width: 17px;
  height: 20px;
}
.button0 {
  display: none;
}
.finlog {
  width: 75%;
  margin-right: 20px;
}
.logo{
  padding-top: 5px;
}
.flex-card {
  display: block;
}
.item {
  width: 100%;
  align-items: center;
}
h1{
  font-size: 28px;
}
.lampochka {
  width: 18%;
  margin-top: 0px;
}
p {
  font-size: 11px;
  line-height: 18px;
  padding-bottom: 21px;
}
.button1{
  padding: 17px 47px;
}

.LL{
  width: 98%;
}

.lamp {
  margin-bottom: 15px;
}
.flex-card1{
  display: block;
}
h2 {
  font-size: 26px;
}

.button2 {
  min-width: 170px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 36px;
  padding: 14px 0px;
  margin-bottom: 36px;
}
.button3 {
  max-width: 170px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 36px;
  padding: 14px 0px;
}

.item3{
  min-height: 520px;
  display: block;
  padding: 14px 20px 17px 18px;
}

.kartinka {
  width: 100%;
  
}

.nad{
  display: table-footer-group;
}
.pod{
  display: table-header-group;
}
.bigcont {
  display: block;
}

.bigcont_cont2 {
  display: block;
  flex-direction: column;
}
.bigcont_cont2_1{
  display: block;
  flex-direction: column;
}

.bigcont_cont2_2 {
  display: block;
  flex-direction: column;
}

.item1 {
  width: 100%;
  padding: 35px 35px 32px 20px;
  margin-bottom: 18px;
}

.item2 {
  width: 100%;
  padding: 20px 5px 30px 18px;
}

.item2_1 {
  min-height: 520px;
  width: 100%;
  padding: 4px 0px 0px 14px;
}


.flex-card3 {
  display: block;
}

.item4 {
  width: 100%;
  margin-top: 28px;
}

p3 {
  font-size: 16px;
  line-height: 21px;
}

p4 {
  font-size: 22px;
  line-height: 40px;
}

.about {
  margin-bottom: 3px;
}

.item4_21 {
  margin-top: 10px;
  padding-right: 48px;
  margin-left: 12px;
}

.item4_22 {
  margin-top: 10px;
  padding-right: 35px;
}

.item4_23 {
  margin-top: 10px;
}

.item4_3 {
  width: 90%;
  margin-top: 50px;
}

.mount{
  width: 100%;
}

.sec-4 {
  margin-top: 121px;
}


.test{
  width: 150%;
}
.les{
  width: 150%;
}

.info__headline {
  padding-top: 140px;
  font-size: 18px;
  line-height: 34px;
}
.button4 {
  width: 190px;
  margin-top: 14px;
}

.reg{
  max-width: 193px;
}  
  
input[type=text]{
  padding: 16px 2px 16px 16px;
  min-width: 10px;
  max-width: 193px;
}

.button5{
  font-size: 13px;
  padding: 15px 15px;
}

.niz{
  display: none;
}

.niztext{
  margin-top: 35px;
  padding-bottom: 40px;
  justify-content: space-around;
}

p8{
  font-size: 14px;
}
}
